# Build directories
build/
cmake-build-*/
out/

# IDE files
.idea/
.vscode/
*.user
CMakeLists.txt.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt specific
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
.qmake.stash

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
OGPRAnnotator

# Temporary files
*.tmp
*.temp 